// Custom variables
$navbar-height: 56px;
$nav-disabled-color: grayscale(400);
$nav-item-size: 13px;
$nav-text-color: grayscale(700);
$nav-text-color-light: grayscale(600);

$sidebar-width: 200px;
$sidebar-border-width: 1px;
$sidebar-border-style: grayscale(300) $sidebar-border-width solid;
$sidebar-height-sm-down: 50px;
$toolbar-height: 50px;
