<app-toolbar [text]="title">
  <app-toolbar-button text="Refresh" icon="refresh" (click)="refresh()"></app-toolbar-button>
</app-toolbar>
<br><br><br>

<div class="sidebar-layout-bottom-row p-3 container-fluid">
  <div class="row">
    <div class="offset-xl-3 col-xl-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <p>Please fill out patient details. All fields are required.</p>
          <form #registerPatient="ngForm" (ngSubmit)="save()" class="form-horizontal form-standard" [formGroup]="form">
            <fieldset class="mb-3">
              <ng-container *ngIf="isPatient() || isNew()">
                <div class="form-group">
                  <label for="firstName">First name</label>
                  <input type="text" class="form-control" name="firstName" formControlName="firstName"
                    placeholder="Enter your first name.">
                </div>
                <div class="form-group">
                  <label for="lastName">Last name</label>
                  <input type="text" class="form-control" name="firstName" formControlName="lastName"
                    placeholder="Enter your first name.">
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <textarea class="form-control" name="address" formControlName="address"
                    placeholder="Enter your address."></textarea>
                </div>
                <div class="form-group">
                  <label for="age">Age</label>
                  <input type="number" class="form-control" name="age" formControlName="age"
                    placeholder="Enter your age.">
                </div>
                <div *ngIf="isNew()" class="form-group">
                  <label for="bloodGroup">Blood group</label>
                  <ng-select name="bloodGroup" formControlName="bloodGroup"
                    placeholder="Select your blood group." [items]="bloodGroupTypes" bindLabel="name" bindValue="id">
                  </ng-select>
                </div>
                <div class="form-group">
                  <label for="phoneNumber">Contact number</label>
                  <input type="text" class="form-control" name="phoneNumber" formControlName="phoneNumber"
                    placeholder="Enter your contact number.">
                </div>
                <div class="form-group">
                  <label for="emergPhoneNumber">Emergency contact number</label>
                  <input type="text" class="form-control" name="emergPhoneNumber" formControlName="emergPhoneNumber"
                    placeholder="Enter your emergency contact number.">
                </div>
              </ng-container>
              <ng-container *ngIf="isDoctor() && !isNew()">
                <div class="form-group">
                  <label for="allergies">Allergies</label>
                  <input type="text" class="form-control" name="allergies" formControlName="allergies"
                         placeholder="Does patient has any allergies?">
                </div>
                <div class="form-group">
                  <label for="symptoms">Symptoms</label>
                  <input type="text" class="form-control" name="symptoms" formControlName="symptoms"
                         placeholder="Enter patient's symptoms.">
                </div>
                <div class="form-group">
                  <label for="diagnosis">Diagnosis</label>
                  <input type="text" class="form-control" name="diagnosis" formControlName="diagnosis"
                         placeholder="What do you find in diagnosis?">
                </div>
                <div class="form-group">
                  <label for="treatment">Treatment</label>
                  <input type="text" class="form-control" name="treatment" formControlName="treatment"
                         placeholder="What treatment will you suggest?">
                </div>
                <div class="form-group">
                  <label for="followUp">Follow Up Duration</label>
                  <input type="text" class="form-control" name="followUp" formControlName="followUp"
                         placeholder="Enter follow up duration.">
                </div>
              </ng-container>
              <div *ngIf="newPatientData">
                <p class="alert alert-success">New patient's credentials: {{newPatientData.id}} - {{newPatientData.password}}</p>
              </div>
              <div class="form-group form-buttons">
                <ng-container *ngIf="!newPatientData">
                  <button class="btn btn-primary mr-2" type="submit" [disabled]="registerPatient.invalid">Save</button>
                  <a [routerLink]="[isNew() ? '/admin/' + getAdminUsername() : '/patient/' + patientId]"
                    class="btn btn-secondary">
                    Cancel
                  </a>
                </ng-container>
                  <button *ngIf="newPatientData" class="btn btn-secondary" type="button" (click)="reset()">OK</button>
                  <!--<button class="btn btn-danger" type="button" (click)="findInvalidControls()">TEST</button>-->
              </div>
              <div *ngIf="error">
                <p class="alert alert-danger">{{error.message}}</p>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #successfulRegistration let-close="close" let-dismiss="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="fa fa-university mr-2"></i>New patient's user id and password
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss('Cross click')">
      <span aria-hidden="true">x</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Enter password for authentication</p>
    <!--<div class="form-group">
      <input type="password" name="password" class="form-control rounded-1" required
             [(ngModel)]="pwd">
    </div>-->
  </div>
  <div class="modal-footer">
    <button type="button" id="patientPwd" class="btn btn-danger" (click)="close('Confirm password')">
      Confirm Password
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="dismiss('Cancel click')">Cancel</button>
  </div>
</ng-template>
