/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt
addHosp3/fabric-ca/hosp3/msp
addHosp3/fabric-ca/hosp3/ca-cert.pem
addHosp3/fabric-ca/hosp3/fabric-ca-server.db
addHosp3/fabric-ca/hosp3/IssuerPublicKey
addHosp3/fabric-ca/hosp3/IssuerRevocationPublicKey
addHosp3/fabric-ca/hosp3/tls-cert.pem