<app-toolbar text="Doctors">
  <app-toolbar-button text="Refresh" icon="refresh" (click)="refresh()"></app-toolbar-button>
</app-toolbar>
<br><br><br>

<div class="sidebar-layout-bottom-row p-3 container-fluid">
  <p>List of all doctors.</p>
  <div class="table-responsive-lg">
    <table class="table table-hover">
      <thead class="thread-light">
      <tr>
        <th *ngFor="let column of headerNames" scope="col">
          {{column.displayName}}
        </th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let singleRecord of doctorRecords">
          <td>{{singleRecord.doctorId}}</td>
          <td>{{singleRecord.firstName}}</td>
          <td>{{singleRecord.lastName}}</td>
          <td>
            <button type="button" class="btn btn-success mr-1" (click)="grant(singleRecord.doctorId)"
              [disabled]="isDoctorPresent(singleRecord.doctorId)">GRANT</button>
            <button type="button" class="btn btn-danger ml-1" (click)="revoke(singleRecord.doctorId)"
              [disabled]="!isDoctorPresent(singleRecord.doctorId)">REVOKE</button>
          </td>
        </tr>
      </tbody>
    </table>
    <span>Total count: {{doctorRecords.length}}</span>
  </div>
</div>
