<app-toolbar text="Patient">
  <app-toolbar-link *ngIf="isPatient()" text="Edit personal details" icon="edit"
    [routerLink]="['/patient/edit/', patientID]">
  </app-toolbar-link>
  <app-toolbar-link *ngIf="isDoctor()" text="Edit medical details" icon="edit"
    [routerLink]="['/patient/edit/', patientID]">
  </app-toolbar-link>
  <app-toolbar-link *ngIf="isPatient()" text="View doctors" icon="user-md" routerLink="doctors/list"></app-toolbar-link>
  <app-toolbar-link text="View history" icon="history" routerLink="history"></app-toolbar-link>
  <app-toolbar-button text="Refresh" icon="refresh" (click)="refresh()"></app-toolbar-button>
</app-toolbar>
<br><br><br>

<div class="sidebar-layout-bottom-row p-3 container-fluid">
  <div class="row">
    <div class="col-xl-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Details</h5>
          <table *ngIf="patientRecord !== undefined">
            <span>
              <tr>
                <td class="labels"><strong>Patient ID</strong></td>
                <td>{{patientRecord.patientId}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>First Name</strong></td>
                <td>{{patientRecord.firstName}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Last Name</strong></td>
                <td>{{patientRecord.lastName}}</td>
              </tr>
              <ng-container *ngIf="isPatient()">
                <tr>
                  <td class="labels"><strong>Contact number</strong></td>
                  <td>{{patientRecord.phoneNumber}}</td>
                </tr>
                <tr>
                  <td class="labels"><strong>Emergency number</strong></td>
                  <td>{{patientRecord.emergPhoneNumber}}</td>
                </tr>
                <tr>
                  <td class="labels"><strong>Address</strong></td>
                  <td>{{patientRecord.address}}</td>
                </tr>
              </ng-container>
              <tr>
                <td class="labels"><strong>Blood Group</strong></td>
                <td>{{patientRecord.bloodGroup}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Allergies</strong></td>
                <td>{{patientRecord.allergies}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Symptoms</strong></td>
                <td>{{patientRecord.symptoms}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Diagnosis</strong></td>
                <td>{{patientRecord.diagnosis}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Treatment</strong></td>
                <td>{{patientRecord.treatment}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Follow up period</strong></td>
                <td>{{patientRecord.followUp}}</td>
              </tr>
            </span>
          </table>
          <div *ngIf="patientRecord === undefined">
            <p>You are not authorized to view patient details.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
